<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Service provider Information </title>
<link rel = "stylesheet" type = "text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" > 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

</head>
<body>

<div align="center">
	<h1 class="text-center text-primary"><i class="fa fa-car" style="font-size:60px;color:blue;">Service provider Details</i></h1>
	
	<table class="table table-striped table-responsive" border="1" cellpadding="10">
		<thead>
		<tr>
		<th>Service Provider Id</th>
		<th>Service Provider Name</th>
		<th>Service Provider type</th>
		<th>Authorized Signatory</th>
		<th>Signatory adhaar No</th>
		<th>Pan</th>
		<th>License No</th>
		<th>tan</th>
		<th>gst</th>
		<th>Service State</th>
		<th>Service District</th>
		<th>Service Block</th>
		<th>Address 1</th>
		<th>Address 2</th>
		<th>state</th>
		<th>district</th>
		<th>email</th>
		<th>mobile no</th>
		</tr>
		</thead>
	<tbody>
		<tr th:each="sProvider : ${listServiceProvider}">
		<td th:text="${sProvider.spId}">Service Provider ID</td>
		<td th:text="${sProvider.spName}">Service Provider Name</td>
		<td th:text="${sProvider.serviceType}">Service Provider Type</td>
		<td th:text="${sProvider.authorizedSignatory}">Authorized Signatory</td>
		<td th:text="${sProvider.signatoryAadharNo}">Signatory Adhaar Number</td>
		<td th:text="${sProvider.pan}">Pan Number</td>
		<td th:text="${sProvider.licenseNo}">Licence Number</td>
		<td th:text="${sProvider.tan}">Tan Number</td>
		<td th:text="${sProvider.gst}">GST Number</td>
		<td th:text="${sProvider.serviceState}">Service State</td>
		<td th:text="${sProvider.serviceDistrict}">Service District</td>
		<td th:text="${sProvider.serviceBlock}">Service Block</td>
		<td th:text="${sProvider.addressLine1}"> Address</td>
		<td th:text="${sProvider.addressLine2}"> Address</td>
		<td th:text="${sProvider.state}">State</td>
		<td th:text="${sProvider.district}">District</td>
		<td th:text="${sProvider.emailId}">Email Id</td>
		<td th:text="${sProvider.mobileNo}">Mobile Number</td>
		
	</tbody>
		
	</table>
</div>

</body>
</html>